[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
[submodule "lib/rapidcheck"]
	path = lib/rapidcheck
	url = https://github.com/emil-e/rapidcheck.git
